extends ../shared/generic_layout

block javascripts
	//- script(type='text/javascript', src='/javascripts/basic/landing.js')

block stylesheets
	//- link(rel='stylesheet', href='/stylesheets/basic/landing.css')

block content
	include ../shared/navbar_partial