extends ../shared/generic_layout

block javascripts
	//- script(type='text/javascript', src='/javascripts/basic/landing.js')

block stylesheets
	//- link(rel='stylesheet', href='/stylesheets/basic/landing.css')

block content
	include ../shared/navbar_partial
	
	.row.text-center.medium_space_top
		.col-sm-12
			a.btn.btn-warning(href='/plans') Own a website? Click here!
	
	.row.text-center.medium_space_top
		.col-sm-12.bottom
			img.inlin_block(style='height: 100px;', src='/images/full_logo.png')
			h2.inline_block(style='vertical-align: bottom; margin-bottom: 0;') Surfing the web shouldn't be lonely
	
	.row.text-center.medium_space_top
			h4 Interlude Chat lets people browsing the same web page talk, instantly
	
	.row.text-center.medium_space_top
		.col-sm-4
			h3 Discuss your views on an article
			img(style='height: 200px; max-width: 100%;', src='/images/landing_carousel/chat.png')
		.col-sm-4
			h3 Talk about a product
			img(style='height: 200px; max-width: 100%;', src='/images/about/cupcake.png')
		.col-sm-4
			h3 Ask representatives a question
			img(style='height: 200px; max-width: 100%;', src='/images/about/customer.png')