extends ../shared/generic_layout

block javascripts
	script(type='text/javascript', src='/javascripts/basic/landing.js')

block stylesheets
	link(rel='stylesheet', href='/stylesheets/basic/landing.css')

block content
	.row#row0
		.col-sm-8.col-sm-offset-4.text-right
			if userBool==false
				form#loginForm(action='/login', style='margin-left: 10px;')
					.loader_wrapper
						img(class='loader_image', src='/images/generic/loader.gif')
					input.form-control.small_space_top(required, maxlength='50', type='email', name='email', placeholder='Email')
					input.form-control.small_space_top(required, maxlength='50', type='password', name='password', placeholder='Password')
					input.btn.btn-success.form-control.small_space_top(type='submit', value='Log in')

					.alert.alert-danger.small_space_top.text-center.my_hide Sorry, there was an issue
	.row#row1
		.col-sm-12.bottom
			img#logo.half_width.inline_block.bottom(src='/images/full_logo.png')
			.half_width.inline_block.bottom
				h1(style='margin-bottom: 0;')
					| One line of javascript,
					br
					| like-page chat for your users
	.row#row2
		.col-sm-12.text-center.big_space_top
			a.btn.btn-warning(href='/plans') Try it out - it's free!
	.row
		.col-sm-12
			include ./landing_carousel_partial