nav.navbar.navbar-default.navbar-fixed-top
	a(href='/')
		img.pull-left(style='height: 50px;', src='/images/full_logo.png')
		
		
	if userBool
		ul.nav.navbar-nav.navbar-right(style='position: absolute; bottom: 0; right: 10%;')
			li
				a(style='padding-bottom: 10px;', href='/dashboard') Dashboard
			li
				a(style='padding-bottom: 10px;', href='/account') Account
			li
				a#logoutButton(style='padding-bottom: 10px;', href='#') Logout
				
				
	else
		ul.nav.navbar-nav.navbar-right(style='position: absolute; bottom: 0; right: 10%;')
			li
				a(data-toggle='dropdown', style='padding-bottom: 10px;', href='#')
					| Log in
					span.caret
				.dropdown-menu(style="background-color: #f8f8f8; min-width: 260px; padding: 10px;").dropdown
					include ./login_partial