/*
 *	Index styles to be served to publisher
 */

/* Important: to overwrite bootstrap's box-sizing */
#interlude-chatBox > *
	box-sizing content-box

#interlude-chatBox
	position relative
	width 400px
	height 200px
	border 1px solid black
	border-right none
	position fixed
	left 0
	top 50%
	margin-top -100px
	
#interlude-chatBox-tab
	right -40px
	top -1px
	padding 0px 5px
	text-align center
	opacity 0.7
	border-top-right-radius 6px
	border-bottom-right-radius 6px
	cursor pointer
	height 200px
	width 30px
	background-color #C9FFE5
	position absolute
	border 1px solid black
	
#interlude-chatBox-tab-title
	height 30px
	width 200px
	position absolute
	top 86px
	left -74px
	-webkit-transform rotate(-90deg)