@import "nib"
@import "../variables"


.url
	display inline-block
	margin 5px
	border-radius 4px
	padding 5px
	color white
	background-color #72A0C1
	cursor pointer
.url:hover, .url.active
	background-color #A4C639 /* my_success_color */
	
	
#liveChat
	width 100%
	overflow scroll
	background-color white
	padding 10px
	outline 1px solid grey
	height 400px
	
#liveWrite
	margin-top 10px
	width 100%
	padding 10px