@import "nib"
@import "../variables"

.plan
	border 1px solid grey
	
	.planTitle
		color #21ABCD
		background-color #F0FFFF
		font-size 2em
		padding 10px 0
	
	.planFeatures
		background-color #89CFF0
		font-size 1.25em
		padding 10px 0
		
.plan.active
	.planTitle
		background-color #90EE90